/* styling for media queries */
@media only screen and (min-width: 768px) {  // tablet & bigger

}
@media only screen and (max-width: 767px) { // smaller than tablet.
	.homepage-top {
		.su-column.su-column-size-1-3 {
			img {
				width: 100%;
			}
		}
	}

	#bottom-footer-widgets {
		.col-3  {
				width: 100%;
				padding-right: 0px;
			}
	}
}
