/* styling for media queries */
@media only screen and (min-width: 768px) {  // tablet & bigger
	.hide-not-mobile {
		display: none;
	}
  #top {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	#header {
		//padding-bottom: 0 !important;
		padding-top: 3.631em;
	}
	#header #navigation ul.nav > li.parent:hover a:after {
		color: #4a4a4a !important;
	}
	ul.nav li:first-child ul {
		width: 17.5em;
	}
}
@media only screen and (max-width: 767px) { // smaller than tablet.
	#top {
		padding-top: .5em;
		padding-bottom: .5em;
		.owl-phone {
			padding-top: 10px;
		}
		nav.col-full #top-nav {
			display: block;
			list-style: none;
			margin-bottom: 0px;
			li {
				a {
					padding: 0px;
				}
			}
		}
	}
	ul.nav li.hide-mobile-menu > a {
		display: none;
	}
	.homepage-top {
		.su-column.su-column-size-1-3 {
			img {
				width: 100%;
			}
		}
	}

	.cross-sells { //hiding "You may be interested in" at mobile
		display: none;
	}

	#bottom-footer-widgets {
		.col-3  {
				width: 100%;
				padding-right: 0px;
			}
	}
}
